.home {
  margin-top: 80px;
  height: 100%;
  padding: 0 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header {
  color: black;
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: bold;
  box-shadow: 2px 6px 4px 0 rgb(0 0 0 / 23%);
  padding: 15px;
  width: fit-content;
}

.firstpar {
  color: black;
  font-size: 20px;
  width: 70%;
  margin-bottom: 30px;
  box-shadow: 2px 6px 4px 0 rgb(0 0 0 / 23%);
  padding: 15px;
}

.secondpar {
  display: block;
  color: black;
  font-size: 20px;
  width: 70%;
  box-shadow: 2px 6px 4px 0 rgb(0 0 0 / 23%);
  padding: 15px;
}
